<!DOCTYPE html>
<html>
<head>
    <title>File conversion</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
<script src="{{ url_for('static',filename='index.js') }}"> </script>
<nav>
    <span id="convertor_logo">
        <h3 class="logo1">ListenTo</h3>
        <h3 class="logo2">PDF</h3>
    </span>
    <span class="nav_others">Convert PDF</span>
    <span class="nav_others">How to use</span>
    <span class="nav_others">Tools & API</span>
</nav>

<hr>

<div class="classone">
    <h2>
        Convert PDF into Audio
    </h2>
    <h4>100% Automatic and free</h4>
    <img class="paint1" src="/static/rmbg-yellow_paint.png">
</div>

<div class="file-upload">
    <form id="form" class="box" action="convert_pdf" method='POST' enctype="multipart/form-data">
        <label for="file" class="file_label">Upload PDF</label>
        <h3>or drop a file,</h3>
        <h4>paste an image or <u>URL</u></h4>
        <input type="file" id="file" name="file" onchange="form.submit()" multiple required />
    </form>
</div>

<div class="term">
    By uploading a PDF file or URL you agree to our <u>Terms of Service</u>. This site is protected by hcaptcha and its <u>Privacy Policy</u> and <u>Terms of Service</u> apply.
</div>
<img class="paint2" src="/static/rmbg-paintbrush.png" alt="">

</body>
</html>
