<!DOCTYPE html>
<html>
    <head>
        <title>The developer team you need to know</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/profile.css') }}">
        <script src="https://kit.fontawesome.com/64deeece84.js" crossorigin="anonymous"></script>
    <body><a href="{{ url_for('index') }}">
        <span id="convertor_logo">
            <span class="material-symbols-outlined">
                arrow_back_ios
                </span>
            <h3 class="logo1">ListenTo</h3>
            <h3 class="logo2">PDF</h3>
        </span></a>
        <section>
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imgbx">
                            <img src="/static/enevald.jpg" alt="" srcset="">
                        </div>
                        <div class="contentbx">
                            <h3>Enevald Bravo<br><span>Chief Developer</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                            <a target="_blank" href="https://www.instagram.com/nvald61?igshid=NTA5ZTk1NTc"><li class="fa fa-instagram" aria-hidden="true"></li></a>
                            <a target="_blank" href="https://www.twitter.com/enevald_b"><li class="fa fa-twitter" aria-hidden="true"></li></a>
                            <a target="_blank" href="https://www.linkedin.com/in/enevald-bravo-866623257"><li class="fa fa-linkedin" aria-hidden="true"></li></a>
                    </ul>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="imgbx">
                            <img src="/static/russell.jpg" alt="" srcset="">
                        </div>
                        <div class="contentbx">
                            <h3>Davis Russell<br><span>Front-end Developer</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                            <a target="_blank" href="https://www.facebook.com/kingclarv"><li class="fa fa-facebook" aria-hidden="true"></li></a>
                            <a target="_blank" href="https://www.linkedin.com/in/davis-russell-ba8027265"><li class="fa fa-linkedin" aria-hidden="true"></li></a>
                            <a target="_blank" href="https://www.instagram.com/kclarv/"><li class="fa fa-instagram" aria-hidden="true"></li></a>
                    </ul>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="imgbx">
                            <img src="/static/carlosimg1.jpg" alt="" srcset="">
                        </div>
                        <div class="contentbx">
                            <h3>Alex Carlos<br><span>Founder <br> Riser Africa Foundation</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                            <a target="_blank" href="https://www.facebook.com/carloslonjez"><li class="fa fa-facebook" aria-hidden="true"></li></a>
                            <a target="_blank" href="https://www.twitter.com/carloslonjez"><li class="fa fa-twitter" aria-hidden="true"></li></a>
                            <a target="_blank" href="https://www.instagram.com/carloslonjez/"><li class="fa fa-instagram" aria-hidden="true"></li></a>
                    </ul>
                </div>
                
            </div>
        </section>
    </body>
</html>