<!DOCTYPE html>
<html>
    <head>
        <title>Terms and condition of service</title>
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/profile.css') }}">
        <script src="https://kit.fontawesome.com/64deeece84.js" crossorigin="anonymous"></script>
    <body><a href="{{ url_for('index') }}">
        <span id="convertor_logo">
            <span class="material-symbols-outlined">
                arrow_back_ios
                </span>
            <h3 class="logo1">ListenTo</h3>
            <h3 class="logo2">PDF</h3>
        </span></a>
        <section>
            <div class="container">
                <div class="cards_term">
                    <div class="card-content">
                        These Terms of Service (the "Agreement") set forth the terms and conditions upon which ("we" or "our company") makes available its PDF conversion services ("Services") to you ("Customer" or "You"). For the purposes of this Agreement: (a) "Customer" (or "you") means the individual or business entity that is using or registering to use the Services, including its employees and agents; Your use of the Services is expressly conditioned on your compliance with these Terms of Service.
By clicking, accessing or using the Services, you are indicating that you agree to be bound by these Terms of Service. You acknowledge and agree that OUR COMPANY may revise these Terms of Service from time to time. If we make changes, we will indicate at the top of this page the Terms of Service effective date. By continuing to access or use the Services after OUR COMPANY makes any such revision, you agree to be bound by the revised Terms of Service.
If you are a consumer, any personal data you provide to us will be processed in accordance with our Privacy Policy. If you are a business customer, any personal data you provide to us will be processed in accordance with our Data Processing Agreement (DPA), which we require you to enter at the same time as these Terms of Service. If, as a business customer, you sign up to or use our Services in a personal or individual capacity, but intend to use the Services for your end-users, OUR COMPANY is required to process the personal data of your end-users in accordance with the DPA. You should inform OUR COMPANY if that is the case, and review and accept the terms of the DPA in order to understand how such personal data will be processed.
6. Copyright Policy
These Terms of Service incorporate the terms of OUR COMPANY respects the intellectual property rights of others and expects our users to do the same. Unauthorized copying, modification, distribution, public display, or public performance of a copyrighted work is an infringement of the copyright holder's rights, and expressly prohibited under OUR COMPANY Services. 
Users of OUR COMPANY Services download onto their desktop (where applicable), upload, convert, access and use materials and services at their own risk, OUR COMPANY does not monitor customer content.
OUR COMPANY will not be liable for any damages claimed by third parties as a result of any use as a result of OUR COMPANY services, information, or products.
Each and every user is solely responsible for all materials stored with OUR COMPANY, for accuracy of such materials, and for acquiring all necessary authorizations for converting the materials, including, without limitation, all hyperlinks and marketing materials; and
OUR COMPANY makes no express or implied warranty regarding the accuracy, quality, or nature of information that may be obtained by users or participants from the internet through the use of OUR COMPANY Services.
OUR COMPANY  may, at its discretion, disable the desktop application (where applicable), remove content, disable and/or terminate the accounts of users and/or deny users future access to OUR COMPANY  Services, who may be infringing the intellectual property rights of others or OUR COMPANY, or otherwise potentially expose OUR COMPANY  to civil or criminal liability. Should registered users of OUR COMPANY paid-for Services breach these conditions OUR COMPANY reserves the right to terminate that user's account immediately, without recourse to refunding any monies paid. However, such rights shall in no way create an obligation for to edit or review the website(s) or content.                    
</div>
                </div>

            </div>
        </section>      
    </body>