<!DOCTYPE html>
<html>
<head>
    <title>ListenToPDF: You entered wrong file</title>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="style.css"> 
</head>
 <body>
    <div class="classone">
        <h2>
            Convert PDF into Audio
        </h2>
        <h4>100% Automatic and free</h4>
        <img class="paint1" src="/static/rmbg-yellow_paint.png">
    </div>
    <div class="classtwo">
    <h2>ListenToPDF</h2>
    <div>
        <span class="material-symbols-outlined">
            disabled_by_default
        </span>
       <h4><p>You entered the wrong file type!</p> We are very sorry that ListenToPdf only accepts pdf files only at the moment.
       </h4>
    </div>  
    </div>
 </body>
 </html>