body{
  height: 100%;
  font-family: Tahoma, sans-serif;
}
input{
display:none;
width: 200px;
z-index:100;
cursor:pointer;
}

.mainsection{
  display: flex;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 100px;
  padding: 10px;
  margin: auto;
}

.seconddiv{
  position: relative;
  z-index: 99;
  height: 450px;
  width: 560px;
  display: block;
  margin: 10px;
}

label{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;

}
.file-select-name{
    line-height:40px;
    display:inline-block;
    padding:0 10px;
    margin: 10px;
    border: 1px solid #ccc;
    width: 200px;
    height: 40px;
}

.file-upload{
    position: absolute;
    top: ;
    left: 10px;
    transform: translate(0, 0);
    text-align:center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    width: 440px;
    height: 340px;
    border-radius: 30px;
    box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
    margin: 20px auto;
}
 
.file-upload .file-select{
    display:block;
    border: 2px solid #dce4ec;
    color: #34495e;
    cursor:pointer;
    height:40px;
    line-height:40px;
    text-align:left;
    background:#FFFFFF;
    overflow:hidden;
    position:relative;}

label.file_label{
    border-radius: 30px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    transform: translate(0, 120px);
    font-size: 30px;
    background-color:#7371cc;
    color: #FFFFFF;
    font-weight: 550;
    transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -webkit-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    
  }
h3{
    font-weight: bold;
    
  }
.file-upload h4, .file-upload h3{
    color: rgba(29, 28, 27, 0.5);
    transform: translate(0, 140px);
    line-height: 5px;
  }

.file-upload h3{
    margin: 15px;
    font-size: 23px;
    line-height: 0px;
    color: rgba(29, 28, 27, 0.6);
  }

  
.file-upload h4{
    margin: 20px;
    font-size: 12px;
    line-height: 10px;
    color: rgba(29, 28, 27, 0.6);
  }

.classone{
  
    transform: translate(0, 0);
    color: rgba(29, 28, 27, 0.5);
    width: 600px;
}

.classone h2{
  font-size: 85px;
  line-height: 80px;
  color: rgba(29, 28, 27, 0.7);
  margin: 20px;
}

.classone h4{
  margin: 30px;
  font-size: 20px;
  line-height: 0px;
  color: rgba(29, 28, 27, 0.6);
}

.classone .paint1{
  width: 90px;
  position: absolute;
  bottom: -13px;
  right: 47%;
  padding: 0;
  margin: 0;
  z-index: -1;
}

nav{
  position: fixed;
  z-index: 999;
  background-color: #ffffff;
  top: 0;
  left: 0px;
  width: 100vw;
  padding: 0px;
  display: flex;
  align-items: center;
  color: rgba(29, 28, 27, 0.6);
  font-size: 18px;
  border-bottom: 1px solid rgba(100, 100, 111, 0.2);
  box-shadow: rgba(100, 100, 111, 0.1) 0px 5px 29px 0px;
}

nav .logonav{
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav img{
  width: 50px;
  height: 80px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
  opacity: .5;
}

 hr{
  border: none;
  border-bottom: 1px solid rgba(29, 28, 27, 0.1);
  width: 99%;
  position: fixed;
  top:;
 }
#convertor_logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo2{
  color: rgba(29, 28, 27, 0.3);
}

.logo1{
  color: rgba(29, 28, 27, 0.7);
}
span{
  margin-left: 25px;
  margin-right: 25px;
}

nav span{
  margin-left: 15px;
  margin-right: 15px;
}

.othernav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 500px;
  margin-left: 5px;
  margin-right: 5px;
}

nav .othernav span{
  
}

.term{
  position: absolute;
  bottom: 10px;
  right: 13%;
  color: rgba(29, 28, 27, 0.6);
  width: 440px;
  font-size: 12px;
  line-height: 1.5em;
}

.term a{
  color:#7371ccd8;
}

.paint2{
  width: 300px;
  position: absolute;
  right: 2px;
  top: 10px;
  z-index: -1;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box .has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box .has-advanced-upload .box__dragndrop {
  display: inline;
}
.box.is-dragover {
  background-color: grey;
}

.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}

#drop-area.highlight{
  border-color: purple;
}

.bmodal button{
  position: absolute;
  bottom: 30px;
  right: 30px;
  box-shadow: 10px 35px 80px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 7px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  transform: translate(0, 0);
  font-size: 20px;
  background-color:#7371cc;
  color: #FFFFFF;
  font-weight: 550;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}
.myModal{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
  width: 100vw;
  margin: 0;
  height: 100vh;
  z-index: 999;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -webkit-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  backdrop-filter: blur(2px);
}

.myModal .modal-content{
  backdrop-filter: blur(2px);
  background-color: #FFFFFF;
  width: 600px;
  position: absolute;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
  color: rgba(29, 28, 27, 0.9);
  opacity: 1;
}

.myModal button{
  box-shadow: 10px 35px 80px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 7px;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  transform: translate(0, 0);
  font-size: 20px;
  background-color:#7371cc;
  color: #FFFFFF;
  font-weight: 550;
  transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
}

.myModal button:hover{
  box-shadow: 20px 55px 70px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  color: aliceblue;
}

.modal-header h1{
   font-size: 40px;
}
#open{
  cursor: pointer;
}

.myModal.show{
  opacity: 1;
  pointer-events: auto;
}

.bmodal{
  display:none;
}


/*drop zone section*/


.drop-zone__thumb{
  width: 77%;
  height: 71%;
  padding: 20px;
  position: absolute;
  background-color: #cccccc;
  border-radius: 30px;
  margin: 30px;
  overflow: hidden;
}

.drop-zone__thumb img{
  position: absolute;
  top: -120px;
  left: 15px;
  opacity: .3;
  width: 90%;
  height: 170%;
}

.drop-zone{
  
}

.drop-zone--over{
  border: 4px dashed #009578;
}

.drop-zone__input{
  display: none;
}

.drop-zone__thumb::after{
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffff;
  background-color: rgba(0, 0, 0, .75);
  font-size: 14px;
  text-align: center;
}

.drop-zone__prompt{
  margin: 0 auto;
}

/*wrongfile.html*/


.classtwo{
  position: absolute;
  top: 30%;
  right: 8%;
  transform: translate(0, 0);
  color: rgba(29, 28, 27, 0.5);
  width: 500px;
}

.classtwo div{
  display: flex;
}

.classtwo span{
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: rgb(231, 83, 83);
}

.classtwo h2{
font-size: 70px;
line-height: 80px;
color: rgba(29, 28, 27, 0.541);
margin: 20px;
}

.classtwo h4{
margin: 30px;
font-size: 20px;
color: rgba(161, 62, 62, 0.6);
}

.classtwo .paint1{
width: 90px;
position: absolute;
bottom: -13px;
right: 47%;
padding: 0;
margin: 0;
z-index: -1;
}


/*Nav modification*/

nav span label.dropnav{
  border: none;
  display: flex;
  align-items: center;
  z-index: 99;
}

nav span label.dropnav span{
  margin: 0;
  padding: 0;
  margin-left: 5px;
  margin-top: 3px;
}

nav .wrapper{
  margin: 0;
  padding: 0;
}

nav .nav_others{
  position: relative;
}

nav .nav_others .collapsible-text{
  position: absolute;
  max-width: 500px;
  opacity: 1;
  z-index: 90;
  width: 400px;
  padding: 10px 20px 0;
  border-radius: 10px;
  transform: translate(-50px, 0);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.nav_others .collapsible-text{
  display: none;
  top: -280px;
  transition: all .3s ease;
  backdrop-filter: blur(10px);
}

.nav_others input:checked ~ .collapsible-text{
  display: block;
  top: 71px;
}

.nav_others #expand-more{
  transition: all .5s ease;
}

.nav_others input:checked ~ .dropnav #expand-more{
  transform: rotate(-90deg);
}

nav a{
  text-decoration: none;
  color: inherit;
}

nav a:hover, nav label:hover{
  color: rgba(29, 28, 27, 0.7);
}

footer{
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  max-width: 98%;
  width: 99%;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(129, 156, 156, 0.1);
  color: rgba(29, 28, 27, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

footer a{
  color:#7371cce5;;
  text-decoration: none;
}

#menu_nav{
  opacity: 0;
}

